<div>
    <!-- Admin details -->
    <div class="profile">
        <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="">
        <h1>Abin K S</h1>
        <h4>abinsalim6@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="Dashboard">Dashboard</a>
        <a routerLink="Employees">Employees</a>
        <a routerLink="Gallery">Gallery</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="tools">
       <div>
            <mat-icon>contact_phone</mat-icon>
            <a routerLink="Contacts">Contacts</a>
       </div>
       <div>
            <mat-icon>leaderboard</mat-icon>
            <a routerLink="Leads">Leads</a>
       </div>
    </div>
</div>