<!-- card -->
<div class="cards">

     <!-- card 1 -->
     <mat-card>
        <app-card 
        bg="orange"
        icon="person"
        description="student"
        count="2000"
        ></app-card>
    </mat-card>

    <!-- card 2 -->
    <mat-card>
        <app-card
        bg="red"
        icon="home"
        description="Institution"
        count="50"
        ></app-card>
    </mat-card>

    <!-- card 3 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="groups"
        description="Institution"
        count="50"
        ></app-card>
    </mat-card>

    <!-- card 4 -->
    <mat-card>
        <app-card
        bg="yellow"
        icon="dashboard"
        description="Institution"
        count="500"
        ></app-card>
    </mat-card>

   
      
    
</div>

<!-- area-chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- Table and pie-->
<div class="tablepie">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>

    <!-- pie -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>